@font-face
{
	font-family: Raleway;
	src: url("../font/Raleway-Regular.ttf");
	font-weight: normal;
}
@font-face
{
	font-family: Raleway-Bold;
	src: url("../font/Raleway-Bold.ttf");
	font-weight: bold;
}

*
{
	margin: 0;
	padding: 0;
}
.scope
{
	max-width: 1000px;
	margin-left: auto;
    margin-right: auto;
    font-family: Raleway, sans-serif;
    padding: 5px;
}
.titleBar
{
	border-bottom: 1px dashed #56a50d;
	margin-bottom: 20px;
}
.titleBar a
{
	text-decoration: none;
	color: black;
}
.logo
{
	display: flex;
	align-items: center;
}
.logoImg
{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
h1
{
	font-size: 1.3em;
	font-weight: normal;
}
h2
{
	font-size: 0.9em;
	margin-bottom: 15px;
}
button
{
	font-size: 0.7em;
	font-family: Raleway, sans-serif;
	padding: 5px;
}

@media screen and (prefers-color-scheme: dark)
{
	body
	{
		background: #282828;
		color: white;
	}
	button
	{
		background: #282828;
		color: white;
	}
	.titleBar
	{
		border-bottom: 1px dashed #a5210d;
	}
	.titleBar a
	{
		color: white;
	}
}