@font-face
{
	font-family: Raleway;
	src: url("../font/Raleway-Regular.ttf");
	font-weight: normal;
}
@font-face
{
	font-family: Raleway-Bold;
	src: url("../font/Raleway-Bold.ttf");
	font-weight: bold;
}
@font-face
{
	font-family: JetbrainsMono;
	src: url("../font/JetbrainsMono-Regular.ttf");
	font-weight: normal;
}

*
{
	margin: 0;
	padding: 0;
}
a
{
	text-decoration: none;
	color: black;
}
a:hover
{
	color: #514bbf;
}
.scope
{
	max-width: 1200px;
	margin-left: auto;
    margin-right: auto;
    font-family: Raleway, sans-serif;
    padding: 5px;
}
.titleBar
{
	border-bottom: 1px solid #514bbf;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 7px;
}
.logo
{
	display: flex;
	align-items: center;
}
.logoImg
{
	height: 60px;
	margin-right: 10px;
}
.logoNamePt1
{
	color: black;
}
.logoNamePt2
{
	color: #514bbf;
}
.drop
{
	height: 10px;
	width: 10px;
	background-color: #514bbf;
	margin-right: 5px;
	border-radius: 50%;
	display: inline-block;
}
h1
{
	font-size: 1.7em;
	font-weight: normal;
}
h2
{
	font-size: 1.1em;
	margin-bottom: 10px;
}
button, select
{
	font-size: 0.9em;
	font-family: sans-serif;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	background: white;
	border: 1px solid #d6d6d6;
}
button:hover
{
	border: 1px solid #514bbf;
}
button:active
{
	color: #514bbf;
}
label
{
	font-size: 0.9em;
	font-family: sans-serif;
}

@media screen and (prefers-color-scheme: dark)
{
	body
	{
		background: #222528;
		color: white;
	}
	a
	{
		color: white;
	}
	a:hover
	{
		color: #7ccffe;
	}
	button, select
	{
		background: #222528;
		color: white;
	}
	button:hover
	{
		border: 1px solid #7ccffe;
	}
	button:active
	{
		color: #7ccffe;
	}
	.logoNamePt1
	{
		color: white;
	}
	.logoNamePt2
	{
		color: #7ccffe;
	}
	.titleBar
	{
		border-bottom: 1px solid #7ccffe;
	}
	.drop
	{
		background-color: #7ccffe;
	}
}