@font-face
{
	font-family: Raleway;
	src: url("../font/Raleway-Regular.ttf");
	font-weight: normal;
}
@font-face
{
	font-family: Raleway-Bold;
	src: url("../font/Raleway-Bold.ttf");
	font-weight: bold;
}
@font-face
{
	font-family: JetbrainsMono;
	src: url("../font/JetbrainsMono-Regular.ttf");
	font-weight: normal;
}

*
{
	margin: 0;
	padding: 0;
}
.scope
{
	max-width: 1000px;
	margin-left: auto;
    margin-right: auto;
    font-family: Raleway, sans-serif;
    padding: 5px;
}
.titleBar
{
	border-bottom: 1px solid #5cb2ff;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 7px;
}
.titleBar a
{
	text-decoration: none;
	color: black;
}
.logo
{
	display: flex;
	align-items: center;
}
.logoImg
{
	height: 40px;
	margin-right: 10px;
}
h1
{
	font-size: 1.3em;
	font-weight: normal;
}
h2
{
	font-size: 0.9em;
	margin-bottom: 10px;
}
button
{
	font-size: 0.7em;
	font-family: Raleway, sans-serif;
	padding: 5px;
}

@media screen and (prefers-color-scheme: dark)
{
	body
	{
		background: #222528;
		color: white;
	}
	button
	{
		background: #222528;
		color: white;
	}
	.titleBar a
	{
		color: white;
	}
}