<!DOCTYPE html>
<html>
<head>
	<title>View drop</title>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<meta name="description" content="Drop it, send it."/>
	<meta name="og:title" content="TextDrop"/>
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
</head>
<body>
	<div class="scope">
		<div class="titleBar">
			<div class="logo">
				<a href="/"><img class="logoImg" src="{{ url_for('static', filename='img/logo.svg') }}"></a>
				<h1 class="logoName"><span class="logoNamePt1">Text</span><span class="logoNamePt2">Drop</span></h1>
			</div>
		</div>
		<div class="postHeader">
			<span class="drop"></span>
			<p>{{postId}}</p>
		</div>
		<div class="postArea">
			<p>{% for line in postTextByLine %}{{line}}{% endfor %}</p>
		</div>
		<div class="postButtons">
			<a href="raw/{{postId}}"><button>View raw</button></a>
		</div>
		<div class="postFooter">
			<p>Size: {{postSize}} bytes</p>
			<p>Posted on: {{postTime}}</p>
		</div>
	</div>
</body>
</html>